body{

    font-family: sans-serif;
    background-color: #77bbff;


}

#header{

    background-color: blanchedalmond;
    margin-bottom: 15px;
    border: 1px solid;
    border-radius: 15px;
    
}

#title{
    
    text-align: center;
    font-size: 75px;


}

#sub-title{

    text-align: center;


}

/* Aliens */

#contentAliens{

    border: 1px solid black;
    border-radius: 15px;
    background-color: blanchedalmond;
    margin-bottom: 15px ;
    margin-top: 15px ;

}

#titleAliens{

    text-align: center;
    font-weight: bold;

}

#subtitleAliens{

    font-weight: bold;
    
}


/* Tables */

table,tr,td,th{

    border: 1px solid;
    padding: 1px;
    border-spacing:1px; 


}

#table1{

    width: 100%;
    background-color:  #ffc7f8;

}

#Row1{

    width: 30%;

}

#Row2{

    width: 50%;

}

#Row3{

    width: 20%;

}

/* News */

/* Colores por temática */
.sports {
    background-color: #e8f5e9;
    border-left: 6px solid #2e7d32;
}

.science {
    background-color: #e3f2fd;
    border-left: 6px solid #1565c0;
}

.celebs {
    background-color: #fff3e0;
    border-left: 6px solid #ef6c00;
}

.tech {
    background-color: #f3e5f5;
    border-left: 6px solid #7b1fa2;
}

.health {
    background-color: #ffebee;
    border-left: 6px solid #c62828;
}

.nature {
    background-color: #e0f2f1;
    border-left: 6px solid #00695c;
}

.politics {
    background-color: #eceff1;
    border-left: 6px solid #37474f;
}

/* Formato básico para legibilidad */
.news-card {
    margin: 10px 0;
    padding: 10px;
    font-family: sans-serif;
}

.category {
    font-weight: bold;
    display: block;
}